<footer class="footer">
    <div class="footer__logo-box">

        <picture class="footer__logo">
            <source srcset="assets/img/wq-icon.png 1x, assets/img/wq-icon.png 1x"
                    media="(max-width: 37.5em)">
            <img srcset="assets/img/wq-icon.png 1x, assets/img/wq-icon.png.png 1x"  height="52" width="52" alt="Full logo" src="assets/img/wq-icon.png">
        </picture>
        <div>
            <picture class="social_logo">
                <source srcset="assets/img/google_icon.svg, assets/img/google_icon.svg"
                        media="(max-width: 37.5em)">
                <img srcset="assets/img/google_icon.svg, assets/img/google_icon.svg" height="32" width="32" alt="Full logo" src="assets/img/google_icon.svg">
            </picture>
            <picture class="social_logo">
                <source srcset="assets/img/wq-icon.png, assets/img/facebook_square_color.svg"
                        media="(max-width: 37.5em)">
                <img srcset="assets/img/facebook_square_color.svg, assets/img/facebook_square_color.svg" height="32" width="32" alt="Full logo" src="assets/img/facebook_square_color.svg">
            </picture>
            <picture class="social_logo">
                <source srcset="assets/img/linkedin_square_color.svg, assets/img/linkedin_square_color.svg"
                        media="(max-width: 37.5em)">
                <img srcset="assets/img/linkedin_square_color.svg, assets/img/linkedin_square_color.svg"  height="32" width="32" alt="Full logo" src="assets/img/linkedin_square_color.svg">
            </picture>
        </div>


        
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <p class="footer__copyright">
              Wisdom Quest Learning Resources @ 2019
            </p>
        </div>
    </div>
</footer>