<mat-grid-list cols="4" rowHeight="45px" gutterSize="0" class="border-bottom">
                
            
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <img src="assets/img/wq-icon.png" alt="Logo" class="header__logo wq-logo">
                        <span class="brand">Wisdome Quest</span>
                 </mat-grid-tile>
                 

                <mat-grid-tile
                                [colspan]="2"
                                [rowspan]="1">
                                <button mat-stroked-button  (click)="openDialog()" class="m-1">Log In</button>
                </mat-grid-tile>
</mat-grid-list>