
<mat-grid-list 
                cols="4"
                rowHeight="45px"
                gutterSize="0"
                class="border-bottom">
                
                <mat-grid-tile
                                [colspan]="2"
                                [rowspan]="1">
                                <div class="brand">
                                    <!-- <img src="assets/images/logo.jpg" height="42" width="42"> -->
                                </div>
                                

                </mat-grid-tile>

                <mat-grid-tile
                                [colspan]="1"
                                [rowspan]="1">
                </mat-grid-tile>

                <mat-grid-tile
                                [colspan]="1"
                                [rowspan]="1">
                                <button mat-stroked-button class="bg-blue" (click)="openDialog()">Log In</button>
                </mat-grid-tile>
</mat-grid-list>