<section class="section-features">

  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-world">
          <img src="http://www.wisdomquest.in/image/GATE.jpg" height="100px" />
        </i>


        <h3 class="heading-tertiary u-margin-bottom-small">Mock Gate</h3>
        <p class="feature-box__text">
          An Online Mock Examination (prepared by IIT'ians) that guides the test taker to crack GATE.
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-compass">
          <i class="feature-box__icon icon-basic-world">
            <img src=" http://wisdomquest.in/image/ecat_new.jpg" height="100px" />
          </i>
        </i>


        <h3 class="heading-tertiary u-margin-bottom-small">EMCAT</h3>
        <p class="feature-box__text">
          EmCAT™ (Employability Computer Aptitude Test) is a One stop solution test for companies to identify the right
          talent at the right time.
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-world">
          <img src=" http://wisdomquest.in/image/icat.png" height="100px" />
        </i>
        <h3 class="heading-tertiary u-margin-bottom-small">ICAT</h3>
        <p class="feature-box__text">
          ICAT™ (Integrated Computer Aptitude Test); An online industry standard mock examination to identify the
          employability fit for a aspiring professional.
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-heart">
          <i class="feature-box__icon icon-basic-world">
            <img src=" http://wisdomquest.in/image/Eamcet.jpg" height="100px" />
          </i>
        </i>
        <h3 class="heading-tertiary u-margin-bottom-small">EAMCET</h3>
        <p class="feature-box__text">
          An Online Mock Examination for Aspiring +12 students that guides the test taker to crack EAMCET.
        </p>
      </div>
    </div>
  </div>
</section>
