.exam-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top:22px;
    height: calc(100% - 75px);
    .exam-card{
     margin: 5px; 
    }
    .mat-button{
        padding: 0 10px;
        line-height: 32px;
    }
    

    .exam-img{
        background: #F44336;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
    }

    background: url(../../../assets/images/Home.png),
    url(../../../assets/images/sitting-4@2x.png);
    background-size: cover, 6em, 6em;
    background-repeat: no-repeat;
    background-position: top right, top right;



   
}

.m-10{
    margin: 10px;
}
.brand{
    width: 100%;
}
.license-form{
    width:100%;
    padding: 10px;
}

