
<app-toolbar></app-toolbar>
<div class="main-container">
    <section class="section-about exam-search">
        <div class="row">
            <div class="col-1-of-2">
                
            </div>
            <div class="col-1-of-2">
                  
            </div>
        </div>
        <div class="u-center-text u-margin-bottom-big">
            <form [formGroup]="licenseForm" (ngSubmit)="onSubmit()" class="license-form"> 
                <mat-form-field >
                  <input  type="password" formControlName="license" placeholder="License" matInput>
                  <mat-icon matSuffix (click)="onSubmit()">mode_subdirectory_arrow_right</mat-icon>
                  <mat-hint>Enter lincense code here to start new exam</mat-hint>
                  
              </mat-form-field>
              <!-- <button type="submit" [disabled]="goLoading" class=" m-10" mat-stroked-button >GO</button> -->
             
            </form>
        </div>
      
        
      </section>
  <section class="section-features exam-list-container">
      <div class="time">Today- Dec 20, 2018</div>
                
    <div class="row">
        <div class="col-1-of-4" *ngFor="let exam of examList" >
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-world">
                  <img  src=" http://wisdomquest.in/image/icat.png" height="100px"/>
                </i>
                
               
                <h3 class="heading-tertiary u-margin-bottom-small">Mock Gate</h3>
                <p class="feature-box__text" [innerHtml]="examm.examDescriptionData">
                     
                </p>
            </div>
        </div>
    </div>
  </section>
</div>
