<app-header></app-header>
  

<div class=" landing-container
             d-flex justify-content-center
             align-items-center">


             <mat-card>

              <mat-card-header>
                <mat-card-title>Sign Up</mat-card-title>
              </mat-card-header>
   <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              <mat-card-content class="d-flex flex-column">
               <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input  formControlName="firstName" matInput>
               </mat-form-field>

               <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input  formControlName="lastName" matInput>
           </mat-form-field>


               <mat-radio-group class="mat-form-field-wrapper" formControlName="gender">
                  <mat-radio-button  [value]="'MALE'">
                    MALE &nbsp; 
                  </mat-radio-button>
                  <mat-radio-button [value]="'FEMALE'">
                      FEMALE
                    </mat-radio-button>
                </mat-radio-group>


                     

                      <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input  type="email" formControlName="contactEmail" matInput >
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Contact</mat-label>
                            <input  formControlName="contactNumber" matInput>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                              <mat-label>Password</mat-label>
                              <input  type="password" formControlName="password" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>License</mat-label>
                                <input  type="password" formControlName="license" matInput>
                                <mat-hint></mat-hint>
                            </mat-form-field> 
              </mat-card-content>

              <mat-card-actions>
                <button type="reset" mat-button color="warn" class="bg-red" >Clear</button>
                <button type="submit"mat-button color="primary" class="bg-blue">Proceed</button>
              </mat-card-actions>
   </form>        
            </mat-card>

           

</div>

<app-footer></app-footer>
