.landing-container{
    min-height: calc(100vh - 45px);
    padding: 12px;
    box-sizing: border-box;
    background: url(../../../assets/images/Home.png),
    url(../../../assets/images/standing-6.png),
    url(../../../assets/images/sitting-8.png);
    background-size: 90%, 6em, 6em;
    background-repeat: no-repeat;
    background-position: top right, top left, top right;

}