<app-header></app-header>
  

<!-- <div class=" landing-container
             d-flex justify-content-end
             align-items-center">


             
             <mat-card class="mat-elevation-z8">
              <mat-card-header>
                <mat-card-title>Sign Up</mat-card-title>
              </mat-card-header>
   <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              <mat-card-content class="d-flex flex-column">
               <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input  formControlName="firstName" matInput>
               </mat-form-field>

               <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input  formControlName="lastName" matInput>
           </mat-form-field>


               <mat-radio-group class="mat-form-field-wrapper" formControlName="gender">
                  <mat-radio-button  [value]="'MALE'">
                    MALE &nbsp; 
                  </mat-radio-button>
                  <mat-radio-button [value]="'FEMALE'">
                      FEMALE
                    </mat-radio-button>
                </mat-radio-group>


                     

                      <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input  type="email" formControlName="contactEmail" matInput >
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Contact</mat-label>
                            <input  formControlName="contactNumber" matInput>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                              <mat-label>Password</mat-label>
                              <input  type="password" formControlName="password" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>License</mat-label>
                                <input  type="password" formControlName="license" matInput>
                                <mat-hint></mat-hint>
                            </mat-form-field> 
              </mat-card-content>

              <mat-card-actions>
                <button type="reset" mat-button color="warn" class="bg-red" >Clear</button>
                <button type="submit"mat-button color="primary" class="bg-grey">Proceed</button>
              </mat-card-actions>
   </form>        
            </mat-card>

           

</div> -->
<header class="header">
  <div class="header__text-box">
      <h1 class="heading-primary">
          <span class="heading-primary--main">Wisdom Quest</span>
          <span class="heading-primary--sub">learning resourses</span>
      </h1>

      
  </div>
</header>
<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
            Educate Enlighten Empower
      </h2>
  </div>

  <div class="row">
      <div class="col-1-of-2">
          <h3 class="heading-tertiary u-margin-bottom-small">One of the top 10 ideas</h3>
          <p class="paragraph">
                Our idea was nominated as one of the top 10 ideas  for Shrishti Innovation Challenge conducted by AP govt,2017
          </p>

          <h3 class="heading-tertiary u-margin-bottom-small">About the company</h3>
          <p class="paragraph">
                We firmly believe that money should not be a constraint for the right candidate to pursue education and on one hand we believe that most of the students are unable to reach their career aspirations due to lack of proper guidance and channelizing the abilities. On the other hand, Industry expects ready workmanship enabled with latest skills and best practices. In today’s world industry is seeking talent capable to analyze better, innovate faster, lead independent projects and develop impactful sustainable solutions.
          </p>

          <a href="#" class="btn-text">Know More &rarr;</a>
      </div>
      <div class="col-1-of-2">
            
                <app-sign-up></app-sign-up>
      </div>
  </div>
</section>
<section class="section-features">
                
  <div class="row">
      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-world">
                  <img  src="http://www.wisdomquest.in/image/GATE.jpg" height="100px"/>
              </i>
              
             
              <h3 class="heading-tertiary u-margin-bottom-small">Mock Gate</h3>
              <p class="feature-box__text">
                    An Online Mock Examination (prepared by IIT'ians) that guides the test taker to crack GATE.
              </p>
          </div>
      </div>

      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-compass">
                    <i class="feature-box__icon icon-basic-world">
                            <img  src=" http://wisdomquest.in/image/ecat_new.jpg" height="100px"/>
                     </i>
                    </i>
                    
                    
                    <h3 class="heading-tertiary u-margin-bottom-small">EMCAT</h3>
              <p class="feature-box__text">
                    EmCAT™ (Employability Computer Aptitude Test) is a One stop solution test for companies to identify the right talent at the right time.
              </p>
          </div>
      </div>

      <div class="col-1-of-4">
          <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world">
                            <img  src=" http://wisdomquest.in/image/icat.png" height="100px"/>
                     </i>
              <h3 class="heading-tertiary u-margin-bottom-small">ICAT</h3>
               <p class="feature-box__text">
                    ICAT™ (Integrated Computer Aptitude Test); An online industry standard mock examination to identify the employability fit for a aspiring professional.
              </p>
          </div>
      </div>

      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-heart">
                    <i class="feature-box__icon icon-basic-world">
                            <img  src=" http://wisdomquest.in/image/Eamcet.jpg" height="100px"/>
                     </i>
              </i>
              <h3 class="heading-tertiary u-margin-bottom-small">EAMCET</h3>
              <p class="feature-box__text">
                    An Online Mock Examination for Aspiring +12 students that guides the test taker to crack EAMCET.
              </p>
          </div>
      </div>
  </div>
</section>
<section class="section-tours" id="section-tours">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Most popular exam paper
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
               <div class="card">
                   <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">THE APTITUDE FINDER</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>3 hour exam</li>
                                <li>3000 enrollment till now</li>
                                <li>4 sections</li>
                                <li>Aptitude Analysis </li>
                                <li>Difficulty: Easy</li>
                            </ul>
                        </div>
                   </div>
                   <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">@ 297 Rupees</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Register Now!</a>
                        </div>
                    </div>
               </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">The Hidden Newton</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                    <li>3 hour exam</li>
                                    <li>3000 enrollment till now</li>
                                    <li>4 sections</li>
                                    <li>Aptitude Analysis </li>
                                    <li>Difficulty: Medium</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">@ 497 Rupees</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Register Now!</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">The Iceebreg Breaker</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                    <li>3 hour exam</li>
                                    <li>3000 enrollment till now</li>
                                    <li>4 sections</li>
                                    <li>Aptitude Analysis </li>
                                    <li>Difficulty: Hard</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">@ 897 Rupees</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Register Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn btn--green">Explore All Exams</a>
        </div>
    </section>



<section class="section-stories">
  <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
          <source src="assets/img/video.mp4" type="video/mp4">
          <source src="assets/img/video.webm" type="video/webm">
          Your browser is not supported!
      </video>
  </div>

  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          We make people genuinely happy
      </h2>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="assets/img/nat-8.jpg" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Vani</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">Wisdom Quest changed my perception of seeing the life
                </h3>
              <p>
                 Thank a lot
              </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="assets/img/nat-9.jpg" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Amaresh</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">WOW! My life is completely different now</h3>
              <p>
                  Amazing
              </p>
          </div>
      </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
      <a href="#" class="btn-text">Read all stories &rarr;</a>
  </div>
</section>


<app-footer></app-footer>
