.landing-container{
    min-height: calc(100vh - 45px);
    padding: 12px;
    box-sizing: border-box;
    background: url(../../../assets/images/joyful.jpg);
    background-position: left;
    background-size: 78em;
    background-repeat: no-repeat;
}