
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-item-center">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input  type="email" formControlName="contactEmail" matInput >
              </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input  type="password" formControlName="password" matInput>
                </mat-form-field>

      <button type="submit" mat-button >Login</button>
</form>        