<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      Educate Enlighten Empower
    </h2>
  </div>

  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">One of the top 10 ideas</h3>
      <p class="paragraph">
        Our idea was nominated as one of the top 10 ideas for Shrishti Innovation Challenge conducted by AP govt,2017
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">About the company</h3>
      <p class="paragraph">
        We firmly believe that money should not be a constraint for the right candidate to pursue education and on one
        hand we believe that most of the students are unable to reach their career aspirations due to lack of proper
        guidance and channelizing the abilities. On the other hand, Industry expects ready workmanship enabled with
        latest skills and best practices. In today’s world industry is seeking talent capable to analyze better,
        innovate faster, lead independent projects and develop impactful sustainable solutions.
      </p>

      <a href="#" class="btn-text">Know More &rarr;</a>
    </div>
    <div class="col-1-of-2">

      <app-sign-up></app-sign-up>
    </div>
  </div>
</section>
